vcl 4.0;
import std;
import directors;

#backend default {
#  .host = "127.0.0.1";
#  .port = "8080";
#}

backend local {
    .host = "localhost";
    .port = "8080";
    .probe = {
        #.url = "/index.html";
        .request =
            "HEAD / HTTP/1.1"
            "Host: localhost"
            "Connection: close"
            "User-Agent: Varnish Health Probe";
        .interval = 5s;
        .timeout = 1s;
        .window = 5;
        .threshold = 3;
    }
    .first_byte_timeout     = 300s;
    .connect_timeout        = 5s;
    .between_bytes_timeout  = 2s;
}

backend local2 {
    .host = "localhost";
    .port = "8081";
    .probe = {
        #.url = "/index.html";
        .request =
            "HEAD / HTTP/1.1"
            "Host: localhost"
            "Connection: close"
            "User-Agent: Varnish Health Probe";
        .interval = 5s;
        .timeout = 1s;
        .window = 5;
        .threshold = 3;
    }
    .first_byte_timeout     = 300s;
    .connect_timeout        = 5s;
    .between_bytes_timeout  = 2s;
}

acl purge {
    "localhost";
    "127.0.0.1";
    "10.255.0.0"/16;
    "::1";
}

sub vcl_init {
    new local_vdir = directors.round_robin();
    local_vdir.add_backend(local);

    new local2_vdir = directors.round_robin();
    local2_vdir.add_backend(local2);
}

sub vcl_recv {
    set req.http.Host = regsub(req.http.Host, ":[0-9]+", "");
    if (req.method == "PURGE") {
        if (!client.ip ~ purge) { # purge is the ACL defined at the begining
            return (synth(405, "This IP is not allowed to send PURGE requests."));
        }
        return (purge);
    }

    if (req.method != "GET" && req.method != "HEAD") {
        return (pass);
    }

    if (req.http.Authorization || req.http.Cookie) {
        return (pass);
    }

    if (req.http.If-None-Match) {
        return (pass);
    }

    if (req.http.Cache-Control ~ "no-cache") {
        ban(req.url);
    }

    if (req.http.Host == "local.com"){
        set req.backend_hint = local_vdir.backend();
    }
    elseif (req.http.Host == "local2.com"){
        set req.backend_hint = local2_vdir.backend();
        if (req.http.Cookie) {
            set req.http.Cookie = ";" + req.http.Cookie;
            set req.http.Cookie = regsuball(req.http.Cookie, "; +", ";");
            set req.http.Cookie = regsuball(req.http.Cookie, ";(PHPSESSID|token|oauth)=", "; \1=");
            set req.http.Cookie = regsuball(req.http.Cookie, ";[^ ][^;]*", "");
            set req.http.Cookie = regsuball(req.http.Cookie, "^[; ]+|[; ]+$", "");
            # If no cookies remain, delete the empty header.
            if (req.http.Cookie == "") {
                unset req.http.Cookie;
            }
        }
        # local2-2533 - Srip ALL cookies, unless one these are there, in which case allow ALL cookies.
        if (req.http.Cookie !~ "(token|oauth)=") {
            unset req.http.Cookie;
        }
    }else{
        set req.backend_hint = local_vdir.backend();
    }


    if (req.url ~  "(\?|&)access_token=" ) {
        return (pass);
    }
    return (hash);
}

sub vcl_hash {
    hash_data(req.url);
    if (req.http.host) {
        hash_data(req.http.host);
    } else {
        hash_data(server.ip);
    }
    if (req.http.Cookie) {
        hash_data(req.http.Cookie);
    }
    if (req.http.X-Forwarded-Proto) {
        hash_data(req.http.X-Forwarded-Proto);
    }
}

sub vcl_backend_response {
    set beresp.do_esi = true;
    if (bereq.http.Host == "local2.com"){
        if (!(bereq.url ~ "login" || bereq.url ~ "logout" || bereq.url ~ "(\?|&)access_token=" || bereq.http.Authorization)) {
            unset beresp.http.Set-Cookie;
        }
    }
    if (bereq.http.X-Cache == "PASS" || beresp.status == 403 || beresp.status == 420 || beresp.status == 429) {
        set beresp.uncacheable = true;
        set beresp.http.Cache-Control = "max-age=0";
        set beresp.http.X-Varnish-TTL = "0s";
        set beresp.http.Pragma = "no-cache";
        return(deliver);
    }
    if (beresp.status == 404 || beresp.status == 420 || beresp.status == 429 || beresp.status == 500 || beresp.status == 503) {
        set beresp.ttl = 10s;
        set beresp.http.Cache-Control = "max-age=10";
        set beresp.http.X-Varnish-TTL = "10s";
        return(deliver);
    }
}

sub vcl_deliver {
    if (obj.hits > 0) { # Add debug header to see if it's a HIT/MISS and the number of hits, disable when not needed
        set resp.http.X-Cache = "HIT";
    } else {
        set resp.http.X-Cache = "MISS";
    }
    set resp.http.X-Cache-Hits = obj.hits;
    unset resp.http.X-Powered-By;
    unset resp.http.Server;
    unset resp.http.X-Drupal-Cache;
    unset resp.http.X-Varnish;
    unset resp.http.Via;
    unset resp.http.Link;
    unset resp.http.X-Generator;
    return (deliver);
}
