{
    "api": {
        "host":     "{{ pillar['sensu']['api']['host'] }}",
        "port":     {{ pillar['sensu']['api']['port'] }},
        "user":     "{{ pillar['sensu']['api']['user'] }}",
        "password": "{{ pillar['sensu']['api']['password'] }}"
    }
}
