{
    "client": {
        "name": "{{ grains['hostname' }}",
        "address": "grains['ipaddress'] %>",
        "keepalive": {
            "thresholds": {
                "warning": {{ pillar['sensu']['client']['warning'] }},
                "critical": {{ pillar['sensu']['client']['critical'] }}
            },
            "refresh":  {{ pillar['sensu']['client']['refresh'] }}
        },
        "subscriptions":        {{ pillar['sensu']['client']['subscriptions'] }}
    }
}
