{
    "rabbitmq": {
        "host":     "{{ pillar['sensu']['rabbitmq']['host'] }}",
        "port":     {{ pillar['sensu']['rabbitmq']['port'] }},
        "vhost":    "{{ pillar['sensu']['rabbitmq']['vhost'] }}",
        "user":     "{{ pillar['sensu']['rabbitmq']['user'] }}",
        "password": "{{ pillar['sensu']['rabbitmq']['password'] }}"
    }
}
