HOSTS_DENY = {{ pillar['denyhosts']['config']['hosts_deny'] }}
BLOCK_SERVICE = {{ pillar['denyhosts']['config']['block_service'] }}
WORK_DIR = {{ pillar['denyhosts']['config']['work_dir'] }}
SUSPICIOUS_LOGIN_REPORT_ALLOWED_HOSTS = {{ pillar['denyhosts']['config']['suspicious_login_report'] }}
LOCK_FILE = {{ pillar['denyhosts']['config']['lock_file'] }}
SECURE_LOG = {{ pillar['denyhosts']['config']['secure_log'] }}
DENY_THRESHOLD_INVALID = {{ pillar['denyhosts']['config']['deny_threshold']['invalid'] }}
DENY_THRESHOLD_VALID = {{ pillar['denyhosts']['config']['deny_threshold']['valid'] }}
DENY_THRESHOLD_ROOT = {{ pillar['denyhosts']['config']['deny_threshold']['root'] }}
DENY_THRESHOLD_RESTRICTED = {{ pillar['denyhosts']['config']['deny_threshold']['restricted'] }}
HOSTNAME_LOOKUP = {{ pillar['denyhosts']['config']['hostname_lookup'] }}
SYSLOG_REPORT = {{ pillar['denyhosts']['config']['syslog_report'] }}
AGE_RESET_VALID = {{ pillar['denyhosts']['config']['age_reset_valid'] }}
AGE_RESET_ROOT = {{ pillar['denyhosts']['config']['age_reset_root'] }}
AGE_RESET_INVALID = {{ pillar['denyhosts']['config']['age_reset_invalid'] }}
RESET_ON_SUCCESS = {{ pillar['denyhosts']['config']['reset_on_success'] }}
DAEMON_LOG = {{ pillar['denyhosts']['config']['daemon']['log'] }}
DAEMON_SLEEP = {{ pillar['denyhosts']['config']['daemon']['sleep'] }}
DAEMON_PURGE = {{ pillar['denyhosts']['config']['daemon']['purge'] }}
DAEMON_LOG = {{ pillar['denyhosts']['config']['daemon']['log'] }}
DAEMON_LOG_TIME_FORMAT = {{ pillar['denyhosts']['config']['daemon']['log_time_format'] }}
DAEMON_LOG_MESSAGE_FORMAT = {{ pillar['denyhosts']['config']['daemon']['log_message_format'] }}
PURGE_DENY = {{ pillar['denyhosts']['config']['purge']['deny'] }}
PURGE_THRESHOLD = {{ pillar['denyhosts']['config']['purge']['threshold'] }}
SYNC_SERVER = {{ pillar['denyhosts']['config']['sync']['server'] }}
SYNC_INTERVAL = {{ pillar['denyhosts']['config']['sync']['interval'] }}
SYNC_UPLOAD = {{ pillar['denyhosts']['config']['sync']['upload'] }}
SYNC_DOWNLOAD = {{ pillar['denyhosts']['config']['sync']['download'] }}
SYNC_DOWNLOAD_THRESHOLD = {{ pillar['denyhosts']['config']['sync']['download_threshold'] }}
SYNC_DOWNLOAD_RESILIENCY = {{ pillar['denyhosts']['config']['sync']['download_resiliency'] }}
