HOSTS_DENY                            = {{  pillar['denyhosts:hosts_deny'] }} 
BLOCK_SERVICE                         = {{  pillar['denyhosts:block_service'] }}
WORK_DIR                              = {{  pillar['denyhosts:work_dir'] }}
SUSPICIOUS_LOGIN_REPORT_ALLOWED_HOSTS = {{  pillar['denyhosts:suspicious_login_report'] }}
LOCK_FILE                             = {{  pillar['denyhosts:lock_file'] }}
SECURE_LOG                            = {{  pillar['denyhosts:secure_log'] }}
DENY_THRESHOLD_INVALID                = {{  pillar['denyhosts:deny_threshold:invalid'] }}
DENY_THRESHOLD_VALID                  = {{  pillar['denyhosts:deny_threshold:valid'] }}
DENY_THRESHOLD_ROOT                   = {{  pillar['denyhosts:deny_threshold:root'] }}
DENY_THRESHOLD_RESTRICTED             = {{  pillar['denyhosts:deny_threshold:restricted'] }}
HOSTNAME_LOOKUP                       = {{  pillar['denyhosts:hostname_lookup'] }}
SYSLOG_REPORT                         = {{  pillar['denyhosts:syslog_report'] }}
AGE_RESET_VALID                       = {{  pillar['denyhosts:age_reset_valid'] }}
AGE_RESET_ROOT                        = {{  pillar['denyhosts:age_reset_root'] }}
AGE_RESET_INVALID                     = {{  pillar['denyhosts:age_reset_invalid'] }}
RESET_ON_SUCCESS                      = {{  pillar['denyhosts:reset_on_success'] }}
DAEMON_LOG                            = {{  pillar['denyhosts:daemon:log'] }}
DAEMON_SLEEP                          = {{  pillar['denyhosts:daemon:sleep'] }}
DAEMON_PURGE                          = {{  pillar['denyhosts:daemon:purge'] }}
DAEMON_LOG                            = {{  pillar['denyhosts:daemon:log'] }}
DAEMON_LOG_TIME_FORMAT                = {{  pillar['denyhosts:daemon:log_time_format'] }}
DAEMON_LOG_MESSAGE_FORMAT             = {{  pillar['denyhosts:daemon:log_mesage_format'] }}
PURGE_DENY                            = {{  pillar['denyhosts:purge:deny'] }}
PURGE_THRESHOLD                       = {{  pillar['denyhosts:purge:threshold'] }}
SYNC_SERVER                           = {{  pillar['denyhosts:sync:server'] }}
SYNC_INTERVAL                         = {{  pillar['denyhosts:sync:interval'] }}
SYNC_UPLOAD                           = {{  pillar['denyhosts:sync:upload'] }}
SYNC_DOWNLOAD                         = {{  pillar['denyhosts:sync:download'] }}
SYNC_DOWNLOAD_THRESHOLD               = {{  pillar['denyhosts:sync:download_threshold'] }}
SYNC_DOWNLOAD_RESILIENCY              = {{  pillar['denyhosts:sync:download_resiliency'] }}
