# Do not remove the following line, or various programs
# that require network functionality will fail.
127.0.0.1   localhost.localdomain localhost
{% if grains['virtual_subtype'] != 'Docker' %}
{{ grains['ec2-metadata']['private_ip'] }}  {{ grains['ec2-data']['ec2-tags']['Name'] }} {{ grains['ec2-metadata']['local_hostname'] }}
{% endif %}
