# ntp.conf: Managed by Salt
tinker {{ tinker }}
{%- for server in servers %}
server {{ server }}
{%- endfor %}


{%- for restriction in restrictions %}
restrict {{ restriction }}
{%- endfor %}

driftfile {{ driftfile }}
